<h3>Instructaional text</h3>
{{#link-to 'me.personalize.topics' id='personalize-button' class='btn btn-primary' }}Yes, Personalize{{/link-to}}
{{#link-to 'me.feed' id='skip-personalize-button' class='btn'}}No, Skip{{/link-to}}
{{outlet}}
