<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="CatchAll For Ember" stopProcessing="true">
					<!-- Yay regex.  This matches any single character '.' and does it zero or more times '*'.  So, any character 0 or more times. -->
					<match url=".*" />
					
					<conditions>
						<!-- If we're requesting an actual file that exists (like JS or CSS) don't redirect. -->
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />

						<!-- Note: This appears to be unneeded, but we might need it later for sub-directories of static content.  Haven't tested that yet. -->
						<!-- If we're requesting an actual directory that exists don't redirect. -->
						<!--<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />-->
					</conditions>
					
					<!-- Rewrite to the base url for the application. -->
					<action type="Rewrite" url="/" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<system.web>
		<!-- machineKey, authentication, and authorization matching other platform apps to redirect to Classic login page. -->
		<machineKey validationKey="F62C09A1BF677A4164D7F4F83FB206FA1F1378510AE537CBBA8FB303FC95C95FF5F18A97D3E3D5D9DD8DD68CF4C404775F7FE644A7E17CF48C5E8B27754F64CD" decryptionKey="488E134F4FDC65E217617480FD5D1B8F004A83E127D4BA67" validation="SHA1" compatibilityMode="Framework20SP2" />
		<authentication mode="Forms">
			<forms name="SavoAuthentication" protection="All" requireSSL="false" enableCrossAppRedirects="false" loginUrl="/savo-development/Login.aspx?redirectTarget=platform" path="/" />
		</authentication>
		<authorization>
			<deny users="?" />
		</authorization>
	</system.web>
</configuration>
